.home-screen {
  background: url("https://raw.githubusercontent.com/GreenPill-TO/TCOIN-website/main/files/background_blue.jpg")
    no-repeat center center fixed;
  background-size: cover;

  > h1 {
    @apply drop-shadow-md;
  }

  p {
    padding-bottom: 1rem;
  }

  .card {
    @apply mb-4;
    @apply bg-blue-700/20 dark:bg-blue-700/40;
    @apply drop-shadow-md;

    .card-header {
      @apply text-xl sm:text-3xl font-bold text-primary text-center;
      @apply mt-6 pb-0;
    }

    .card-content {
      @apply pt-6;
      @apply text-white;
    }
  }
}
